/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');




/* style  */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body {
    margin:0 auto;
} */

 /* header style  */
.header {  
    margin:auto; 
    /* position: fixed;   */
    left: 0;  
    right: 0;  
    height: 86px;  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
}  
.logo, .burger-menu{
    width: 150px;
    margin: 0 auto;
}
.header .logo img{
    width:78px;
    height: 46px;
    position: absolute;
    left:32px;
    top:20px;
    margin-right: auto;
    
}
nav{
    margin:auto;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    color: #101010;
    font-family: Mulish;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    padding: 14px 16px;
    text-decoration: none;
}
.burger-menu i{
    position: absolute;
    right:50px;
    top:35px;
}

/* end of the header style  */

/* first section in the landing page  */

.cover{
    width:100%;
    height:650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#cccc4024;
}
.cover .content1{
    width: 45%;
    height: 600px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cover .content1 .title{
    height: 156px;
    width: 495px;
    color: #26396A;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 52px;
}
.cover .content1 .title span{
    font-weight: 700;
}



.cover .content1 .paragraph{
    height: 90px;
    width: 495px;
    color: #26396A;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-top:24px;
}

.buttons{
    height: 48px;
    width: 428px;
    margin-top:50px;
}

.buttons .button-core{
    height: 48px;
    width: 230px;
    border: none;
    border-radius: 2px;
    background-color: #CC2E2B;
    float: left;

}
.buttons .button-core .button-text{
    height: 20px;
    width: 167.63px;
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}

.buttons .cta2 .button-core2{
    height: 48px;
    width: 174px;
    border:1px solid #CC2E2B;
    background:none;
    border-radius: 2px;
    margin-left:10px;
}

.buttons .button-core2 .button-text2{
    height: 20px;
    width: 112.81px;
    color: #CC2E2B;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
}


 /* images part  */

 .images {
    height: 600px;
    width: 40%;
    /* background-color:red;s */
    position:relative;
}
.img-top{
    height: 270px;
    width: 180px;
}
iframe{
    border: 10px solid #ffffff30;
    border-radius:2px;
    position:absolute;
    top:70px;
    z-index:99;
    left: 80px;
}
.img-buttom{
    height: 200px;
    width: 285px;
    position:absolute;
    bottom: 80px;
    right: 0px;
}



/* foooter  */





footer{
  min-height: 35px;
  width: 100%;
}

ul{
    list-style-type: none;
    text-align: center; 
    padding-left: 0;
    margin: 0;
}
ul li{
    display: inline-block;

}

.contact-widgets {
  height: 60px;
  width: 100%;
}
.content1{
  height: 60px;
  width: 20%;
  color: #AAAAAA;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;

}
.contact-1,
.contact-2,
.contact-3 {
  height: 56px;
  width: 20%;
  display: inline-block;
}
.icon {
    height: 56px;
    width: 56px;
  }

  .label {
    height: 24px;
    width: 213px;
    color: #AAAAAA;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
  }
  .value {
    height: 24px;
    width: 213px;
    color: #5C5C5C;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 10px;
    text-align: left;
    padding-left: 15px;
  }
  .line {
    height: 1px;
    width: 93%;
    background-color: #E7E7E7;
    margin-top: 60px;
    margin-left: 35px;
  }


  .mini-sitemap {
    height: 292px;
    width: 100%;

  }

  .column1 {
    height: 200px;
    width: 40%;
    position: relative;
    top: 80px;
    left: 40px;

  }
  .column2{
      position: relative;
      width: 55%;
      left: 560px;
      top: -160px;  
    padding-left: 20px;

  }
  
  .adress,
  .phone,
  .message {
    height: 24px;
    width: 390px;
    display: inline-block;
  }
 
  .adress-text,
  .phone-num,
  .msg {
    height: 24px;
    width: 356px;
    color: #888888;
    font-family: Mulish;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    padding-left: 12px ;
    
  }
  .phone-num,
  .msg{
    padding-top: 10px;
  }
  .fa-map-marker{
    height: 18px;
    width: 18px;
    color: #888888; 
  }

  .fa-phone {
    height: 18px;
    width: 18px;
   color: #888888;
  }

  .fa-envelope {
    height: 13.5px;
    width: 18px;
    color: #888888;
  }
  .social {
    width: 100%;
    padding-top: 50px;
    position: relative;
    left: -115px;
  }
  .social-1 {
    height: 44px;
    width: 44px;
    margin-right: 20px;
    
  }

  .icon-fa-brands-facebook-f {
    height: 18px;
    width: 18px;
  }
  .fa-facebook,
  .fa-twitter ,
  .fa-instagram ,
  .fa-youtube ,
  .fa-linkedin  {
    height: 18px;
    width: 9.64px;
    color: #888888;
    padding-top: 13px;
  }
  .rectangle {
    box-sizing: border-box;
    height: 44px;
    width: 44px;
    border: 1px solid #D0D0D0;
  }


  .column-2 {
    height: 186px;
    width: 30%;
    position: relative;
    top: -35px;
    left: 50px;
  }
  .column-3 {
    height: 186px;
    width: 37%;
    top: -2px;
    position: relative;
    left: 60px;

  }
  .column-4 {
    height: 186px;
    width: 31%;
    position: relative;
    top: -35px;
    left: 35px;
  }
  .links {
    height: 132px;
    width: 60%;

  }
  .title{
    height: 30px;
    width: 180px;
    color: #26396A;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
  }
  .link {
    height: 24px;
    width: 130%;
    color: #5C5C5C;
    font-family: Mulish;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    padding-top: 10px;
  }

  .final-text{
        height: 24px;
        width: 476px;
        color: #AAAAAA;
        font-family: Mulish;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 40px;
        position: relative;
        top: 50px;
        left: 40px;
      }