<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

    </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head" . -}}
</head>
<body>
    {{- partial "header" . -}}

    {{- block "main" . }}{{- end }}

    {{- partial "footer" . -}}
</body>
</html>