<footer>
    <img src="" alt="">
    <ul class="content-widgets">
        <li class="content1">Besoin d'informations?</br>Contactez-nous...</li>
        <li>
            {{$image := resources.Get "images/icon (3).svg"}}
            <div class="icon">
                <img src="{{ $image.RelPermalink }}" alt="" class="footer-contact-phone">
            </div>
        </li>
        <li class="contact-1">
            <p class="label">Par telephone au</p>
            <p class="value">+212 (0) 5 28 82 30 00</p>
        </li>
        <li>
            {{$image := resources.Get "images/icon (1).svg"}}
            <div class="icon">
                <img src="{{ $image.RelPermalink }}" alt="" class="footer-contact-envelope">
            </div>
        </li>
        <li class="contact-2">
            <p class="label">Par message</p>
            <p class="value">Formulaire de contact</p>
        </li>
        <li>
            {{$image := resources.Get "images/icon (2).svg"}}
            <div class="icon">
                <img src="{{ $image.RelPermalink }}" alt="" class="fill-1">
            </div>
        </li>
        <li class="contact-3">
            <p class="label">Via whatsapp</p>
            <p class="value">+212 (0) 6 61 75 40 50</p>
        </li>
    </ul>

    <div class="line"></div>

    <div class="mini-sitemap">
                
                    <div class="column1">
            
                        <div class="contact">
                        
                            <div class="adress">
                                <ul>        
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
                                    <li><p class="adress-text">265 Av . Hassan II - 80020 Agadir - Maroc</p></li>
                                </ul>   
                            </div>

                            <div class="phone">
                                <ul>        
                                    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                                    <li><p class="phone-num">212 (0) 5 28 82 30 </p></li>
                                </ul>   
                            </div>
                            <div class="message">
                                <ul>        
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i></i></li>
                                    <li><p class="msg">info@ewa.ma</p></li>
                                </ul>   
                            </div>
                        
                        </div>

                        <div class="social">
                            <ul>
                                <li>
                                    <div class="social-1">
                                        <div class="rectangle">
                                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-1">
                                        <div class="rectangle">
                                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-1">
                                        <div class="rectangle">
                                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-1">
                                        <div class="rectangle">
                                            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-1">
                                        <div class="rectangle">
                                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="column2">
                        
                            <ul>
                                <li class="column-2">
                                    <p class="title">
                                        eWA
                                    </p>
                                    <ul class="links">
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> A propos</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Formations</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Metiers du web</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> FAQ</li></a>
                                    </ul>
                                </li>
                                <li class="column-3">
                                    <p class="title">
                                        Etudiants
                                    </p>
                                    <ul class="links">
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Admission</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Candidature en ligne</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Espace candidat</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Mon espace eWA</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Alumni</li></a>
                                        
                                    </ul>
                                </li>
                                <li class="column-4">
                                    <p class="title">
                                        Professionnels
                                    </p>
                                    <ul class="links">
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Enseigner a eWA</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Partenariat</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> stages et emplois</li></a>
                                        <a href=""><li class="link"><i class="fa fa-angle-right" aria-hidden="true"></i> Presse et medias</li></a>
                                    </ul>
                                </li>
                            </ul>
                        
                    </div>
    </div>       
    <p class="final-text">Mentions legales - Copyright C 2021 <b>eWA</b> - Tout droits reserves </p>
    
</footer>