<header class="header">
    <div class="logo">
        
        <a href="{{ `/` | relLangURL }}" rel="noopener noreferrer">
            {{$image := resources.Get "images/logo.png"}}
            <img  src="{{ $image.RelPermalink }}" alt="logo">
        </a>
    </div>
    <nav>
        {{partial "nav" .}}
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars"></i>
    </div>
</header>