{{ define "main"}}
<section class="cover">
    <div class="content1">

        <h1 class="title">
            École <span>pionnière</span> dans la formation aux métiers du <span>digital</span>
        </h1>

        <p class="paragraph">
            Felis est nec convallis orci tempus eu proin massa metus pretium vitae quam ac dictum
        </p>
        
        <div class="buttons">

            <div class="cta1">
                <button class="button-core">
                    <div class="left">
                        <span class="button-text">CANDIDATURE EN LIGNE</span>
                    </div>
                </button>
            </div>

            <div class="cta2">
                <button class="button-core2">
                    <div class="left2">
                        <span class="button-text2">EN SAVOIR PLUS</span>
                    </div>
                </button>
            </div>
            
        </div>
    </div>
    <div class="images">
        {{ $image := resources.Get "images/top-pic.jpg" }}
        <img src="{{ $image.RelPermalink }}" alt="top-image" class="img-top">
        <div class="video">
            <iframe height='430' width='390'
            src="https://www.youtube.com/embed/jkFs2X0XuhA">
            </iframe>
        </div>
        {{ $image := resources.Get "images/buttom-img.jpg" }}
        <img src="{{ $image.RelPermalink }}" alt="top-image" class="img-buttom">

    </div>


</section>
{{end}}